@import url("./style/reset.module.css");
@import url("./style/navbar.module.css");
@import url("./style/login.module.css");
@import url("./style/signup.module.css");
@import url("./style//pm.module.css");
@import url("./style//create.module.css");
@import url("./style//buy.module.css");

html {
  font-family: "Roboto", "Noto Sans KR";
  background-color: #fcfcfe;
}

.main-pm-frame {
  margin-left: 100px;
}

.main-pm-list {
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.pm-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.pm-list img {
  border: 3px solid gray;
  border-radius: 20px;
  width: 250px;
}

.category-pm-frame {
  margin-top: 80px;
}

.category {
  background: #dacffa;
  top: 100px;
  left: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 3px solid gray;
  border-radius: 10px;
}

.category span {
  border-radius: 10px;
  text-align: center;
  width: 64.16px;
  padding: 15px 5px;
}

.category span:hover {
  background-color: #c7bde2;
  cursor: pointer;
}
